header {
  height: 100vh;
  background: url('/assets/images/header_cover.png');
  position: relative;
  div {
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
  }
  .iceberg {
    margin-top: 0;
    z-index: 1;
    position: relative;
  }
  .absolute_link {
    z-index: 100;
      position: absolute;
      &.top {
        left: 28%;
        top: 23vh;
      }
      &.bottom {
        right: 28%;
        bottom: 20vh;
      }
    }
}
