<header>
  <div class="top_header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <app-birds></app-birds>
        </div>
        <div class="col-md-4">
          <div class="page_title">
            <h5>Ivan Galinov</h5>
            <h1>Full stack web developer</h1>
          </div>
        </div>
        <div class="col-md-4">
            <app-cloud></app-cloud>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute_link top">
      <app-curse-link [label]="frontendLinkLabel" [linkHref]="frontendLinkHref"></app-curse-link>
    </div>
  <div class="iceberg">
    <app-iceberg></app-iceberg>
  </div>
  <div class="absolute_link bottom">
      <app-curse-link [label]="backendLinkLabel" [linkHref]="backendLinkHref"></app-curse-link>
    </div>
  <div class="sea_container">
    <app-sea></app-sea>
  </div>
</header>
