@import '../../sass/variable';

header {
  height: 100vh;
  background: url('/assets/images/header_cover.png');
  position: relative;
  overflow: hidden;
  .page_title {
    color: $blackText;
  }
  div {
    text-align: center;
  }
  h1 {
    text-transform: uppercase;
  }
  .iceberg {
    margin-top: 0;
    z-index: 1;
    position: relative;
  }
  .absolute_link {
    z-index: 100;
      position: absolute;
      &.top {
        left: 25%;
        top: 23vh;
      }
      &.bottom {
        right: 20%;
        bottom: 20vh;
        padding-left: 30px;
        z-index: 1000;
        .line {
          margin-top: -63px;
          z-index: 1;
        }
      }
    }
}
