<div class="portfolio">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="title">
            <h2>Portfolio</h2>
          </div>
        </div>
          <div class="col-md-6 wrapper" *ngFor="let project of projectList">
            <div class="project_thumb">
              <img src="{{ project.imageSrc }}"/>
               <a class="project_title" (click)="onSelect(project)">
                 <i class="eye_icon"></i>
              <span class="label">{{ project.name }}</span>
            </a>
            </div>
          </div>
      </div>
    </div>
</div>