<header>
  <div class="top_header">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <app-birds></app-birds>
        </div>
        <div class="col-md-4">
          <div class="page_title">
            <h5>Ivan Galinov</h5>
            <h1>Full stack web developer</h1>
          </div>
        </div>
        <div class="col-md-4">
            <app-cloud></app-cloud>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute_link top">
      <app-curse-link [label]="frontendLinkLabel" [linkHref]="frontendLinkHref"></app-curse-link>
      <svg width="269px" height="70px">
        <line x1="0" x2="200" y1="0" y2="0" style="stroke: black;"></line>
        <line x1="200" x2="269" y1="0" y2="70" style="stroke: black; stroke-width: 0.5px;"></line>
      </svg>
    </div>
  <div class="iceberg">
    <app-iceberg></app-iceberg>
  </div>
  <div class="absolute_link bottom">
<app-curse-link [label]="backendLinkLabel" [linkHref]="backendLinkHref" [align]="bottomLinkAlign"></app-curse-link>
<div class="line">
<svg width="269px" height="70px">
       <line x1="0" x2="70" y1="0" y2="70" style="stroke: black; stroke-width: 0.5px;"></line>
        <line x1="70" x2="269" y1="70" y2="70" style="stroke: black; stroke-width: 0.5px;"></line>
      </svg>
</div>
 </div>
  <div class="sea_container">
    <app-sea></app-sea>
  </div>
</header>
