<div class="content_block" [ngClass]="blockColor">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
  <div class="sidebar">
  <app-sidebar [title]="sidebarTitle"></app-sidebar>
  </div>
      </div>
      <div class="col-md-10">
  <div class="skils">
    <app-skils [skilsList]='skilsList'></app-skils>
  </div>
      </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
  <div class="porfolio">
    <app-portfolio-section></app-portfolio-section>
  </div>
  </div>
    </div>
  </div>
</div>