.fish {
    transition: all 0.3s;
}
.red {
    display: block;
    width: 140px;
    height: 73px;
    background: url('/assets/images/red_fish.png') no-repeat;
    background-size: contain;
}
.blue {
    display: block;
    width: 75px;
    height: 34px;
    background: url('/assets/images/blue_fish.png') no-repeat;
    background-size: contain;
}
.green {
    display: block;
    width: 70px;
    height: 32px;
    background: url('/assets/images/green_fish.png') no-repeat;
    background-size: contain;
}