@import "../../sass/variable";
.skils_list {
    height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
.skils {
        ul {
            list-style: none;
            padding: 0;
        }
    }
    .title {
        h2 {
            font-size: $largeHeadingSize;
            color: $blackText;
            text-transform: uppercase;
        }
    }
}