.sprite_social {
    background-image: url('/assets/images/social_sprite.png');
    background-repeat: no-repeat;
    display: block;
}

.sprite_social-icon_github {
    width: 38px;
    height: 38px;
    background-position: -5px -5px;
}

.sprite_social-icon_vk {
    width: 38px;
    height: 38px;
    background-position: -53px -5px;
}
.social_links {
    list-style: none;
    li {
        display: inline-block;
    }
}